.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 30px;
    overflow: hidden;
}

.main-convite-container {
    background-image: url("/border_texture.png");
    padding: 50px 50px;
    position: relative;
}

.convite-container {
    padding: 50px 60px;
    background-color: #FFF;
    position: relative;
    z-index: 2;
}

#flor-0-1 {
    width: 250px;
    position: absolute;
    right: -30px;
    bottom: 20px;
    transform: rotate(55deg);
}

#flor-1-1 {
    width: 250px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    transform: rotate(105deg);
}

#flor-2-1 {
    width: 250px;
    position: absolute;
    right: 20px;
    bottom: -60px;
    transform: rotate(125deg);
}

#flor-0-2 {
    width: 250px;
    position: absolute;
    left: 10px;
    top: -60px;
    transform: rotate(-35deg);
}

#flor-1-2 {
    width: 250px;
    position: absolute;
    left: -10px;
    top: 20px;
    transform: rotate(-105deg);
}

#flor-2-2 {
    width: 250px;
    position: absolute;
    left: 40px;
    top: -60px;
    transform: rotate(-75deg);
}

.home-top {
    letter-spacing: 5px;
    font-size: 50px;
    color: var(--text-primary-color);
}

.home-title {
    font-size: 140px;
    font-weight: bold;
    margin-top: 80px;
    font-family: var(--title-font);
    color: var(--text-primary-color);
}

.title-and {
    font-family: var(--main-font);
    font-size: 80px;
    letter-spacing: 12px;
}

.home-date {
    letter-spacing: 20px;
    font-size: 40px;
    margin-top: 50px;
    color: var(--text-primary-color);
}

.home-location {
    letter-spacing: 5px;
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
    color: var(--text-primary-color);
}

.btn-container {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-link {
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 25px;
    border: 1px solid var(--text-primary-color);
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 0.2s ease-in-out;
}

.btn-link:hover {
    background-color: var(--text-primary-color);
    color: var(--bg-primary-color);
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 610px) {
    .main-convite-container {
        background-image: unset;
    }

    #flor-0-1 {
        display: none;
    }

    #flor-1-1 {
        display: none;
    }

    #flor-2-1 {
        display: none;
    }

    #flor-0-2 {
        display: none;
    }

    #flor-1-2 {
        display: none;
    }
    
    #flor-2-2 {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .home-top {
        font-size: 30px;
    }

    .home-title {
        font-size: 120px;
    }

    .home-date {
        letter-spacing: 10px;
        font-size: 20px;
    }

    .home-location {
        font-size: 30px;
    }
}