.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 30px;
}

.home-top {
    letter-spacing: 20px;
    font-size: 50px;
    margin-top: 120px;
    color: var(--text-primary-color);
}

.home-title {
    font-size: 140px;
    font-weight: bold;
    margin-top: 80px;
    font-family: var(--title-font);
    color: var(--text-primary-color);
}

.home-date {
    letter-spacing: 20px;
    font-size: 40px;
    margin-top: 50px;
    color: var(--text-primary-color);
}

.home-location {
    letter-spacing: 5px;
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
    color: var(--text-primary-color);
}

.btn-container {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-link {
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 25px;
    border: 1px solid var(--text-primary-color);
    border-radius: 30px;
    padding: 10px 30px;
}

@media only screen and (max-width: 550px) {
    .home-top {
        font-size: 30px;
    }

    .home-title {
        font-size: 120px;
    }

    .home-date {
        letter-spacing: 10px;
        font-size: 20px;
    }

    .home-location {
        font-size: 30px;
    }
}